## Exploratory Data Analysis (EDA)

### 1. Setup and Data Loading

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load processed data
try:
    df = pd.read_csv('data/processed/processed_data.csv')
    print(f"Dataset Shape: {df.shape}")
    display(df.head())
except FileNotFoundError:
    print("Processed data not found. Please run 0_data_preparation.ipynb first.")

Dataset Shape: (5000, 36)

,Views,Likes,Shares,Comments,Month,DayOfWeek,Is_Weekend,Likes_Per_View,Shares_Per_View,Comments_Per_View,...,Content_Type_Tweet,Content_Type_Video,Region_Brazil,Region_Canada,Region_Germany,Region_India,Region_Japan,Region_UK,Region_USA,Engagement_Level_Encoded
0,4163464,339431,53135,19346,1,3,0,0.081526,0.012762,0.004647,...,False,True,False,False,False,False,False,True,False,1
1,4155940,215240,65860,27239,5,4,0,0.051791,0.015847,0.006554,...,False,False,False,False,False,True,False,False,False,0
2,3666211,327143,39423,36223,1,4,0,0.089232,0.010753,0.009880,...,False,True,True,False,False,False,False,False,False,1
3,917951,127125,11687,36806,12,0,0,0.138488,0.012732,0.040096,...,False,False,False,False,False,False,False,False,False,1
4,64866,171361,69581,6376,3,3,0,2.641769,1.072688,0.098295,...,False,False,True,False,False,False,False,False,False,2